@model Testimonial

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Müştəri Adı</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Müştəri SoyAdı</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label">Müştəri Mesajı</label>
                <textarea asp-for="Message" class="form-control"> </textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionId" class="control-label">Vəzifə</label>
                <select asp-for="PositionId" class="form-control">
                    @foreach (var item in ViewData["Postions"] as IEnumerable<Position>)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
           
            @* <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Şəkil</label>
                <input asp-for="ImageUrl" name="ImageUrl" class="form-control" type="file" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
 *@
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Şəkil</label>
                <input asp-for="ImageUrl" name="ImageUrl" class="form-control" type="text" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@DefaultConstantValues.ADD_MESSAGE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValues.RETURN_TO_BACK</a>
</div>